.container-feedback {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;

  width: 330px;
  top: calc(100vh - 135px);
  right: 112px;
  padding: 15px 16px;

  border-radius: 10px;
  box-shadow: 0 4px 42px 0 rgba(0, 0, 0, 0.20);

  background-color: #C3D4FE;
}

.feedback-box {
  display: flex;
  align-items: center;

  width: 271px;
  padding: 0px 8px;
  gap: 8px;
  margin-right: 31px;
}

.feedback-success-image {
  width: 24px;
  height: 24px;
}

.feedback-message-success {
  color: #243F80;
  font-family: Nunito;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
}

.feedback-success-image-close {
  width: 16px;
  height: 16px;
}