* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 100%;
  height: 112px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0 50px;

  border-bottom: 1px solid #ACD9C5;
}

.container h1 {
  color: #343447;
  text-align: center;
  font-family: Montserrat, sans-serif;
  font-size: 26px;
  font-style: normal;
  font-weight: 600;
  line-height: 130%;
}


.login {
  display: flex;
  justify-content: center;
  align-items: center;

}

.profile {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: #DEDEE9;
  margin-right: 16px;

  font-family: Nunito, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;

  color: #0E8750;
}
.login strong {
  font-family: Nunito, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;

  color: #0E8750;
}

.arrow_down {
  width: 24px;
  height: 24px;
  background-image: url(../../assets/arrow_down.svg);
}