* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 1440px;
  height: 100vh;
  display: flex;
  justify-content: space-between;
}

.profile {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: #DEDEE9;
}
.arrow_down {
  width: 24px;
  height: 24px;
  background-image: url(../../assets/arrow_down.svg);
}