* {
margin: 0;
box-sizing: border-box;
}

.container {
  display: flex;
  width: 1440px;
  height: 1129px;

  
  background-color: #F8F8F9;
}

.containerChild {
  width: 100%;
  
  padding: 112px 0 0 108px;
}

