.container {
  display: flex;
  justify-content: space-between;

  padding: 0px 80px;
}

.container_won {
  overflow: hidden;
  border-radius: 30px;
  box-shadow: 0px 4px 5px 0px rgba(172, 217, 197, 0.25);
}

.header {
  display: flex;
  align-items: center;
  padding: 15px 20px;
  background-color: #FFF;
  border-bottom: 1px solid #EFF0F6;
}

.header h3 {
  flex: 1;
  text-align: center;
  color: #3F3F55;
  font-family: Montserrat, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
}

.won_charges {
  margin: 0 0 0 auto;

  background-color: #FFEFEF;
  padding: 3px 15px;
  border-radius: 8px;
  color: #971D1D;
  font-family: Montserrat, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
}

.table {
  width: 100%;
  background-color: #FFF;
}

.table th,
.table td {
  border-bottom: 1px solid #EFF0F6;
  padding: 0 20px;
}

.table th {
  text-align: start;
  color: #3F3F55;
  font-family: Nunito, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 50px;
  letter-spacing: 0.08px;
}

.table td {
  color: #6E6E85;
  font-family: Nunito, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 0.07px;
}

.footer {
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 20px;

  background-color: #FFF;
}

.footer a {
  color: #DA0175;
  font-family: Nunito, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  text-decoration-line: underline;
}

.container_expected {
  overflow: hidden;
  border-radius: 30px;
  box-shadow: 0px 4px 5px 0px rgba(172, 217, 197, 0.25);
}

.header {
  display: flex;
  align-items: center;
  padding: 15px 20px;
  background-color: #FFF;
  border-bottom: 1px solid #EFF0F6;
}

.header h3 {
  flex: 1;
  text-align: center;
  color: #3F3F55;
  font-family: Montserrat, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
}

.expected_charges {
  margin: 0 0 0 auto;

  background-color: #FCF6DC;
  padding: 3px 15px;
  border-radius: 8px;
  color: #C5A605;
  font-family: Montserrat, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
}

.table {
  width: 100%;
  background-color: #FFF;
}

.table th,
.table td {
  border-bottom: 1px solid #EFF0F6;
  padding: 0 20px;
}

.table th {
  text-align: start;
  color: #3F3F55;
  font-family: Nunito, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 50px;
  letter-spacing: 0.08px;
}

.table td {
  color: #6E6E85;
  font-family: Nunito, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 0.07px;
}

.footer {
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 20px;

  background-color: #FFF;
}

.footer a {
  color: #DA0175;
  font-family: Nunito, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  text-decoration-line: underline;
}

.container_paid {
  overflow: hidden;
  border-radius: 30px;
  box-shadow: 0px 4px 5px 0px rgba(172, 217, 197, 0.25);
}

.header {
  display: flex;
  align-items: center;
  padding: 15px 20px;
  background-color: #FFF;
  border-bottom: 1px solid #EFF0F6;
}

.header h3 {
  flex: 1;
  text-align: center;
  color: #3F3F55;
  font-family: Montserrat, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
}

.paid_charges {
  margin: 0 0 0 auto;

  background-color: #EEF6F6;
  padding: 3px 15px;
  border-radius: 8px;
  color: #1FA7AF;
  font-family: Montserrat, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
}

.table {
  width: 100%;
  background-color: #FFF;
}

.table th,
.table td {
  border-bottom: 1px solid #EFF0F6;
  padding: 0 20px;
}

.table th {
  text-align: start;
  color: #3F3F55;
  font-family: Nunito, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 50px;
  letter-spacing: 0.08px;
}

.table td {
  color: #6E6E85;
  font-family: Nunito, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 0.07px;
}

.footer {
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 20px;

  background-color: #FFF;
}

.footer a {
  color: #DA0175;
  font-family: Nunito, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  text-decoration-line: underline;
}