.container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 1;

  width: 100%;
  max-width: 1440px;
  height: 100vh;

  backdrop-filter: blur(2px);
  background-color: rgba(145, 154, 150, 0.3);
}

.charges-modal-form {
  display: flex;
  flex-direction: column;
  position: relative;

  width: 600px;
  padding: 20px 50px;
  gap: 30px;

  border-radius: 30px;

  background: #FFFFFF;
}

.charges-modal-form header {
  display: flex;
  align-items: center;
  position: relative;

  padding-top: 30px;

  color: #343447;
  text-align: center;
  font-family: Montserrat, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
}

.modal-img-close {
  position: absolute;

  top: 0;
  right: -32px;
  width: 32px;
  height: 32px;

  cursor: pointer;
}

.title-modal {
  display: flex;

  width: 100%;
  gap: 16px;
}

.title-modal img {
  width: 35px;
  height: 35px;
}

.title-modal h6 {
  display: flex;

  color: #3F3F55;
  font-family: Montserrat, sans-serif;
  font-size: 26px;
  font-style: normal;
  font-weight: 600;
  line-height: 130%;
}

.charges-form-colum {
  display: flex;
  flex-direction: column;

  gap: 10px;
}

.charges-form-colum label {
  color: #344054;
  font-family: Nunito, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
}

.input-modal-box-validation {
  position: initial;

  margin-top: -10px;

  color: #E70000;
  font-family: Inter, sans-serif;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.charges-form-colum label {
  color: #344054;
  font-family: Nunito, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
}

.input-small {
  width: 100%;
  padding: 16px 14px;

  border: 1px solid #D0D5DD;
  border-radius: 8px;

  background-color: #FFF;

  color: #9B9BB2;
  font-family: Nunito, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px
}

.input-big {
  width: 100%;
  height: 88px;
  padding: 16px 14px;

  border: 1px solid #D0D5DD;
  border-radius: 8px;

  background-color: #FFF;

  color: #9B9BB2;
  font-family: Nunito, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px
}

.charges-form-row {
  display: flex;
  justify-content: space-between;

}

.charges-form-row label {
  color: #344054;
  font-family: Nunito, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
}

.charges-form-row input {
  width: 235px;
}

.charges-won {
  display: flex;
  align-items: center;

  width: 100%;
  padding: 10px 16px;
  gap: 8px;

  border-radius: 10px;

  background-color: #F0F0F5;
}

.charges-won span {
  color: #3F3F55;
  font-family: Nunito, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px
}

.charges-expected {
  display: flex;
  align-items: center;

  width: 100%;
  padding: 10px 16px;
  gap: 8px;

  border-radius: 10px;

  background-color: #F0F0F5;
}

.charges-expected span {
  color: #3F3F55;
  font-family: Nunito, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px
}

.charges-won img,
.charges-expected img {
  width: 24px;
  height: 24px;
}

.modal-buttons {
  display: flex;
  justify-content: space-between;

  margin: 85px 0 20px 0px;
}

.button-cancel {
  width: 232px;
  padding: 4px 81px;

  border-radius: 8px;
  border: 1px solid #DEDEE9;

  background: #F8F8F9;
}

.button-cancel {
  width: 232px;
  padding: 4px 81px;

  border-radius: 8px;
  border: 1px solid #DEDEE9;

  background: #F8F8F9;

  color: #0E8750;
  font-family: Nunito, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.button-apply {
  width: 232px;
  padding: 4px 81px;

  border-radius: 8px;
  border: 1px solid #DEDEE9;

  background: #DA0175;

  color: #F8F8F9;
  font-family: Nunito, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}