a {
  text-decoration: none;
}

li {
  list-style: none;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;

  width: 108px;
  height: 1129px;
  gap: 72px;

  background-color: #F0F0F5;
  z-index: 2;
}

.container li {
  gap: 4px;
}

.container li a {
  font-family: Nunito, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;

  cursor: pointer;
}

.container img {
  cursor: pointer;
}

.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin-top: 45px;
}

.home div {
  width: 48px;
  height: 48px;

  background-image: url(../../assets/home.svg);
}

.clients {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.clients div {
  width: 48px;
  height: 48px;

  background-image: url(../../assets/cliente_menu.svg);
}

.charges {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.charges div {
  width: 48px;
  height: 48px;

  background-image: url(../../assets/cobranca_menu.svg);
}

.selected {
  width: 100%;

  border-right: solid 2px #DA0175;
}

.container .selected li a {

  color: #DA0175;
}

.no_link {
  color: #343447;
}

.link {
  color: #DA0175;
}