* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.container {
  height: 100vh;
  
  display: flex;
  flex-direction: column;

  background-color: #F0F0F5;

  /* position: fixed; */

}

.link {
  display: flex;
  justify-content: center;
  padding: 20px 30px;

  color: #343447;
}
.linkActive {
  color: #DA0175;
}