.singUp {
  display: flex;
  flex-direction: row;

  height: 100vh;
}

.singUp-left {
  display: flex;
  flex-direction: row;

  width: 500px;
  height: 100%;
  gap: 24px;

  background: #F0F0F5;
}

.singUp-left-menu-check {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin: 174px 0 0 57px;
  gap: 4px;
}

.singUp-left-menu-text {
  margin-top: 174px;
}

.singUp-left-menu-text h1 {
  margin: 0 0 8px;

  color: #0E8750;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
}

.singUp-left-menu-text h2 {
  margin: 0 0 25px;

  color: #3F3F55;
  font-family: Nunito;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 130%;
}

.hidden {
  display: none;
}

.singUp-right {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  flex-grow: 2;

  height: 100vh;
}

.singUp-right button {
  width: 160px;
  height: 25px;
  margin: 30px 0 69px;

  border-radius: 10px;
  border: none;

  background: #DA0175;

  color: #F8F8F9;
  font-family: Nunito;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.singUp-right-row {
  display: flex;
  flex-direction: row;
  position: absolute;

  bottom: 64px;

  gap: 8px;
}

.singUp-right-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.singUp-right-form h1 {
  margin-bottom: 32px;

  color: #343447;
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
}

.singUp-right-form-input {
  display: flex;
  flex-direction: column;
  position: relative;

  margin-bottom: 20px;
  gap: 6px;
}

.singUp-right-form-input img {
  display: flex;
  position: absolute;

  width: 24px;
  height: 24px;
  bottom: 10px;
  right: 14px;
}

.singUp-right-form button {
  margin: 20px 0 15px;

  cursor: pointer;
}

.singUp-right-navigate p {
  display: flex;
  flex-direction: row;

  margin: 0;
  padding: 0;

  color: #3F3F55;
  font-family: Nunito;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
}

.singUp-right-navigate-click {
  margin-left: 4px;

  color: #DA0175;
  font-family: Nunito;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 130%;
  text-decoration-line: underline;

  cursor: pointer;
}

.singUp-right-form input {
  width: 368px;
  height: 44px;
  padding-left: 16px;

  border-radius: 8px;
  border: 1px solid #D0D5DD;

  background: #FFF;
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);

  color: #667085;

  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.singUp-span {
  display: flex;
  position: absolute;

  top: 100%;

  color: #E70000;
  font-family: Nunito;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.singUp-right-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 600px;
  height: 512px;

  border-radius: 30px;

  background: #F0F0F5;
}

.singUp-right-box h1 {
  text-align: center;
  color: #343447;
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
}